version: "3.9"

services:
  backend:
    build: ./Backend
    env_file:
      - .env
    ports:
     - "3000:3000"
    environment:
     - NODE_ENV=development
    volumes:
     - ./Backend:/app
    restart: on-failure
