services:
  backend:
    build:
      context: ./Backend
      target: development
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - ./Backend/srcs:/app/srcs
      - ./Backend/prisma:/app/prisma
      - ./Backend/database:/app/database
    command: npm run dev
