version: "3.9"

services:
  backend:
    build:
      context: ./Backend
      target: runtime
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    command: npm start
    restart: on-failure
