services:
  frontend:
    build:
      context: ./Frontend
    ports:
      - "8443:8443"
    restart: on-failure

  backend:
    build:
      context: ./Backend
    env_file:
      - Backend/.env
    ports:
      - "3000:3000"
    volumes:
      - ./Backend/database:/app/database
    command: sh -c "npx prisma migrate deploy --schema=./prisma/schema.prisma && npm start"
    restart: on-failure
