@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: currentColor;
}

html {
	line-height: 1.5;
	tab-size: 4;
}

body {
	margin: 0;
	line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

p {
	margin: 0;
	padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	/* OUI Y A DES WARNINGS MAIS C NORMAL CA PAS BUILD LAISSEZZZZZZZZZZ */
	vertical-align: middle;
}

img,
video {
	max-width: 100%;
	height: auto;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

button,
select {
	text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	appearance: button;
	background-color: transparent;
	background-image: none;
}

/* OUI Y A DES WARNINGS MAIS C NORMAL CA PAS BUILD LAISSEZZZZZZZZZZ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============= GLOBAL SETTINGS ============= */
:root {
	--game-width: 800px;
	--game-height: 600px;
	--paddle-width: 10px;
	--paddle-height: 100px;
	--ball-size: 10px;
}

/* ================= FONTS ================== */
@font-face {
	font-family: "Karnivore-Tecca";
	src: url("/assets/fonts/karnivore-tecca.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

.font-karnivore {
	font-family: "Karnivore-Tecca", sans-serif;
}

/* =================== BASE ================== */
@layer base {
	body {
		font-family: "Lexend", sans-serif;
	}
}

/* ================ COMPONENTS =============== */
@layer components {
	.play-btn {
		width: calc(var(--game-width) * 0.25);
		height: calc(var(--game-height) * 0.1);
	}

	.quick-match-btn {
		width: calc(var(--game-width) * 0.25);
		height: calc(var(--game-height) * 0.1);
	}

	.tournament-btn {
		width: calc(var(--game-width) * 0.25);
		height: calc(var(--game-height) * 0.1);
	}

	.triangle-right {
		width: 0;
		height: 0;
		border-top: calc(var(--game-height) * 0.05) solid transparent;
		border-bottom: calc(var(--game-height) * 0.05) solid transparent;
		border-left: calc(var(--game-width) * 0.05) solid white;
	}

	.triangle-left {
		width: 0;
		height: 0;
		border-top: calc(var(--game-height) * 0.05) solid transparent;
		border-bottom: calc(var(--game-height) * 0.05) solid transparent;
		border-right: calc(var(--game-width) * 0.05) solid white;
	}

	.player-name-item {
		background-color: #374151;
		color: #ff4d4d;
		font-size: 15px;
		font-weight: 700;
		font-family: "Courier New", monospace;
		padding: 4px 12px;
		border-radius: 8px;
		width: calc(var(--game-width) * 0.2);
	}
}

/* ================ UTILITIES =============== */
@layer utilities {
	.text-glow {
		text-shadow:
			0 0 5px #bebe1d,
			0 0 20px #8f8f18,
			0 0 50px #94941c;
	}

	.animate-flicker {
		animation: flicker 5s infinite;
	}
}

/* ============= CUSTOM KEYFRAMES ============= */
@keyframes flicker {

	0%,
	70%,
	100% {
		opacity: 1;
	}

	72% {
		opacity: 0.4;
	}

	74% {
		opacity: 1;
	}

	76% {
		opacity: 0.2;
	}

	78% {
		opacity: 1;
	}
}
